<%= form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :school_id %><br />
    <%= select :project, :school_id, School.list %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p><%= f.submit %></p>
<% end %>
