<% title "Project" %>

<p>
  <strong>School:</strong>
  <%= @project.school.try(:name) || 'None' %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @project.cost %>
</p>
<p>
  <strong>Enabled:</strong>
  <%= @project.enabled %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
