<div class="well">
  <div class="control-group">
    <%= event.label :description, class: 'control-label' %>
    <div class="controls">
      <%= event.text_field :description, :class => "school-event" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= event.label :amount_raised, class: 'control-label' %>
    <div class="controls">
      <%= event.text_field :amount_raised %>
    </div>
  </div>
  
  <div class="control-group">
    <%= event.label :phase, class: 'control-label' %>
    <div class="controls">
      <%= event.select :phase, [1,2,3], { include_blank: true } %>
    </div>
  </div>

  <div class="control-group">
    <%= event.label :date, class: 'control-label' %>
    <div class="controls">
      <div class="input-append date" data-date="<%= Time.now.strftime('%Y-%m-%d') %>" data-date-format="yyyy-mm-dd" data-behavior="datepicker">
        <%= event.text_field :date, class: 'span2' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>
</div>