<%= form_for @school, html: { class: 'form form-horizontal' } do |f| %>
  <%= f.error_messages %>
  
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :coordinates, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat %>
      <%= f.text_field :lng %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :story, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :story, rows: 10, cols: 100, style: 'width: 100%' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :enabled, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :enabled %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :phases, class: 'control-label' %>

    <div class="controls" >
      <div class="well">
        Phase 1 complete: <%= f.check_box :phase_1_complete %><br />
        Phase 2 complete: <%= f.check_box :phase_2_complete %><br />
        Phase 3 complete: <%= f.check_box :phase_3_complete %>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :image, class: 'control-label' %>

    <div class="controls" >
      <div class="well">
        <%- @uploads.each do |upload| -%>
          <%= image_tag upload.image.thumbnail.url, :id => "upload-#{upload.id}", :class => "school-image" %>
        <%- end -%>
      </div>
    </div>
    
    <%= f.hidden_field :upload_id %>
  </div>
  
  <div class="control-group">
    <%= f.label :timeline_start_at, class: 'control-label' %>
    <div class="controls" >
      <div class="input-append date" data-date="<%= Time.now.strftime('%Y-%m-%d') %>" data-date-format="yyyy-mm-dd" data-behavior="datepicker">
        <%= f.text_field :timeline_start_at, class: 'span2' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :timeline_end_at, class: 'control-label' %>
    <div class="controls" >
      <div class="input-append date" data-date="<%= Time.now.strftime('%Y-%m-%d') %>" data-date-format="yyyy-mm-dd" data-behavior="datepicker">
        <%= f.text_field :timeline_end_at, class: 'span2' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :Events, class: 'control-label' %>
    
    <div class="controls">
      <div id="event-list">
        <%- @school.events.build if @school.events.empty? -%>
        <%= f.fields_for :events do |event| %>
          <%= render "events", :event => event %>
        <%- end -%>
        
      </div>
      <%= link_to "Add Another Event", "#add", :id => "add-another-event" %>
    
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <p><%= f.submit class: 'btn btn-primary' %></p>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= link_to "Show", @school, class: 'btn btn-mini' %>&nbsp;&nbsp;
      <%= link_to "View All", schools_path, class: 'btn btn-mini' %>
    </div>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.school-image').click(function(){
      $(this).attr('style', 'border: 2px solid red;');
      image_id = $(this).attr('id').split('-')[1];
      $('#school_upload_id').val(image_id);
    });
    
    $('[data-behavior="datepicker"]').datepicker();
    $('a#add-another-event').click(function() {
      element_count = $('.school-event').length;
      var newEvent = $('#event-list div:first').clone();
      newEvent.find('input').val('');
      newEvent.find('#school_events_attributes_0_description').attr('name', 'school[events_attributes][' + element_count + '][description]');
      newEvent.find('#school_events_attributes_0_date').attr('name', 'school[events_attributes][' + element_count + '][date]');
      newEvent.find('#school_events_attributes_0_id').attr('name', 'school[events_attributes][' + element_count + '][id]');
      newEvent.find('#school_events_attributes_0_amount_raised').attr('name', 'school[events_attributes][' + element_count + '][amount_raised]');
      newEvent.find('#school_events_attributes_0_phase').attr('name', 'school[events_attributes][' + element_count + '][phase]');
      newEvent.appendTo('#event-list');
      $('#event-list div:last school[events_attributes]')
      $('[data-behavior="datepicker"]').datepicker();
    });
  });
</script>
