<% title "Schools" %>

<table class="table table-hover table-bordered">
  <tr>
    <th>Name</th>
    <th>Story</th>
    <th>Enabled</th>
    <th>Timeline Start At</th>
    <th>Position</th>
    <th colspan="3"></th>
  </tr>
  <% for school in @schools %>
    <tr>
      <td><%= school.name %></td>
      <td><%= school.story %></td>
      <td><%= school.enabled %></td>
      <td><%= school.timeline_start_at %></td>
      <td><%= school.position %></td>
      <td><%= link_to "Show", school %></td>
      <td><%= link_to "Edit", edit_school_path(school) %></td>
      <td><%= link_to "Destroy", school, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New School", new_school_path %></p>
