<% title "Schools" %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Story</th>
      <th>Enabled</th>
      <th>Timeline Start At</th>
      <th>Timeline End At</th>
      <th>Coordinates</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @schools.each do |school| %>
    <tr data-id="<%= school.id %>" class="movable" style="cursor: move;">
      <td><%= school.name %></td>
      <td><%= school.story %></td>
      <td><%= school.enabled %></td>
      <td><%= school.timeline_start_at %></td>
      <td><%= school.timeline_end_at %></td>
      <td><%= school.lat %>, <%= school.lng %></td>
      <td class="position"><%= school.position %></td>
      <td><%= link_to "Show", school, class: 'btn btn-mini' %></td>
      <td><%= link_to "Edit", edit_school_path(school), class: 'btn btn-mini' %></td>
      <td><%= link_to "Destroy", school, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini' %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "New School", new_school_path, class: 'btn btn-primary' %>
  <%= link_to "Save Positions", '#', id: 'reorderer', class: 'btn pull-right', style: 'display: none;' %>
</p>

<script type="text/javascript" charset="utf-8">
  var positionList = { };
  
  var reorder = function() {
    $('tr.movable').toArray().forEach(function(el, i) {
      $('.position', el).html(i);
      positionList[$(el).data('id')] = i;
      console.log(positionList);
    });
  };
  
  var reposition = function() {
    reorder();
    $('#reorderer').show();
  }
  
  $(function() {
    reorder();
    $('table tbody').sortable({
      item: '> tr.movable',
      axis: 'y',
      cursor: 'move',
      helper: 'clone',
      stop: reposition
    });
    
    $('#reorderer').on('click', function(ev) {
      $.post('/schools/order.json', { orders: positionList }, function() {
        $('#reorderer').hide();
      });
    });
  });
</script>  