<% title "New Upload" %>

<%= form_for(@upload) do |form| %>
  <%= form.hidden_field(:image_cache) %>
  <%= form.label :image %>
  <%= form.file_field(:image) %>
  <br />
  <%= form.label :description %>
  <%= form.text_field(:description) %>
  <br />
  <%= submit_tag 'Upload' %>
<% end %>

<p><%= link_to "Back to List", universities_path %></p>
