<% title "University" %>

<p>
  <strong>Name:</strong>
  <%= @university.name %>
</p>
<p>
  <strong>Definition Of Service:</strong>
  <%= @university.definition_of_service %>
</p>
<p>
  <strong>Area Of Service:</strong>
  <%= @university.area_of_service %>
</p>
<p>
  <strong>Contact:</strong>
  <%= @university.contact %>
</p>
<p>
  <strong>Enabled:</strong>
  <%= @university.enabled %>
</p>
<p>
  <strong>Position:</strong>
  <%= @university.position %>
</p>

<p>
  <%= link_to "Edit", edit_university_path(@university), class: 'btn btn-mini' %>&nbsp;&nbsp;
  <%= link_to "Destroy", @university, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini' %>&nbsp;&nbsp;
  <%= link_to "View All", universities_path, class: 'btn btn-mini' %>
</p>
